@import "tailwindcss";
@plugin "@tailwindcss/typography";
/*@font-face {
 font-family: alfa;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Rinter.woff2") format("woff2");
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}
body {
  font-family: alfa, sans-serif;
}

*/
